@tailwind base;
@tailwind components;
@tailwind utilities;

.underline{
  text-decoration: underline;
  text-decoration-color: red;
}

.underline{
  text-decoration: underline;
  text-decoration-color: yellow;
}

.underline{
  text-decoration: underline;
  text-decoration-color: violet;
}

